body {
  background-color: #4b1d59;
}

.background {
  color: rgba(159, 198, 204, .5);
  font-family: "Euphoria Script", cursive;
}

blockquote {
  max-width: 20%;
  min-width: 220px;
  border: 2px solid #fdf8f0;
  color: #fdf8f0;
  background-color: rgba(75, 29, 89, .5);
  font-family: "Josefin Slab", serif;
}
